In [1]:
!wget -O property_data.csv https://raw.githubusercontent.com/sathannan/DataScienceTraining/master/property%20data.csv

--2019-03-23 11:28:17--  https://raw.githubusercontent.com/sathannan/DataScienceTraining/master/property%20data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.48.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.48.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 356 [text/plain]
Saving to: ‘property_data.csv’

100%[======================================>] 356         --.-K/s   in 0s

2019-03-23 11:28:22 (81.1 MB/s) - ‘property_data.csv’ saved [356/356]

In [20]:
import pandas as pd
import math
import numpy as np
from statistics import mean

In [21]:
thislist=["--","na","NA","N/A","n/a"]
df = pd.read_csv("property_data.csv",na_values=thislist)
df

           PID  ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0      PUTNAM            Y           3.0        1  1000.0
1  100002000.0   197.0   LEXINGTON            N           3.0      1.5     NaN
2  100003000.0     NaN   LEXINGTON            N           NaN        1   850.0
3  100004000.0   201.0    BERKELEY           12           1.0      NaN   700.0
4          NaN   203.0    BERKELEY            Y           3.0        2  1600.0
5  100006000.0   207.0    BERKELEY            Y           NaN        1   800.0
6  100007000.0     NaN  WASHINGTON          NaN           2.0   HURLEY   950.0
7  100008000.0   213.0     TREMONT            Y           1.0        1     NaN
8  100009000.0   215.0     TREMONT            Y           NaN        2  1800.0

In [22]:
SQFT_col=df['SQ_FT']
data = [] 

for val in SQFT_col:
    if math.isnan(val):
        data.append(0)
    else:
        data.append(int(val))
df['SQ_FT'].fillna(round(mean(data)),inplace=True)
df

           PID  ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0      PUTNAM            Y           3.0        1  1000.0
1  100002000.0   197.0   LEXINGTON            N           3.0      1.5   856.0
2  100003000.0     NaN   LEXINGTON            N           NaN        1   850.0
3  100004000.0   201.0    BERKELEY           12           1.0      NaN   700.0
4          NaN   203.0    BERKELEY            Y           3.0        2  1600.0
5  100006000.0   207.0    BERKELEY            Y           NaN        1   800.0
6  100007000.0     NaN  WASHINGTON          NaN           2.0   HURLEY   950.0
7  100008000.0   213.0     TREMONT            Y           1.0        1   856.0
8  100009000.0   215.0     TREMONT            Y           NaN        2  1800.0